<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<div class="Banner">
    <h1>Welcome back to the best bank</h1>
</div>

<div class="view">

    <div class="content primary">
        <h1>Login</h1>
        <form method="POST" action="/login">

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <input type="submit" value="Login" class="submitButton">
        </form>
    </div>
    
    <div class="content secondary">
        <form method="GET" action="/register">
            <p>Don't have an account? Click the Register button to create a new account.</p>
            <input type="submit" value="Register" class="submitButton">
        </form>

    </div>
</div>

<% if( _errorMessage ){ %>
    <div class="content alert">
       <%= _errorMessage %>
    </div>
<% } %>


</html>
