<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<div class="Banner">
    <h1>Welcome back to the best bank</h1>
</div>
<ul class="NavButtons">
    <li><a href="/home">Home</a></li>

</ul>
<div class="view">

    <div class="content primary">
        <h1>Change Password</h1>
        <form method="POST" action="/password">

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="currentPassword"><b>Current Password</b></label>
            <input type="password" placeholder="Enter current Password" name="currentPassword" required>

            <label for="newPassword"><b>New Password</b></label>
            <input type="password" placeholder="Enter new Password" name="newPassword" required>

            <input type="submit" value="Change Password" class="submitButton">
        </form>
    </div>

</div>

<% if( _errorMessage ){ %>
<div class="content alert">
    <%= _errorMessage %>
</div>
<% } %>


</html>
